
h1 {
    font-size: 58px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2b00f7;
}

h2, h3, h4 {
    color: #2b00f7;
}

p, a, label {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.image {
    color: #ff4300;
}